

{{!-- const userSchema = new Schema({
  username: String,
  password: String,
  email:    String,
  googleID: String,
  image:    String,
  favorites: Array,
  mustWatch: Array,
  easySunday: Array,
  imgName: String,
  imgPath: String
} --}}

<div class="location-center">
    <form id="form" action="/profile/update/{{user._id}}" method="POST" enctype="multipart/form-data">
      <h2>Edit User</h2>
  
      <label for="username">Username</label><br>
      <input class="form-control" type="text" name="username" value="{{user.username}}">
      <br>
  
      {{!-- <label for="password">New Password</label><br>
      <input class="form-control" type="password" name="password" value="{{user.password}}">
      <br>

      <label for="password">Confirme Password</label><br>
      <input class="form-control" type="password" name="password" value="{{user.password}}">
      <br> --}}
  
      <label for="email">eMail</label><br>
      <input class="form-control" type="text" name="email" value="{{user.email}}">
      <br>
  
      <label for="password">Password</label><br>
      <input class="form-control" type="password" name="password" placeholder="DeathStar">
      <br>

      <label for="imageSrc">image src</label><br>
      <input class="form-control" type="text" name="image" value="{{user.image}}">
      <br>
      
      <label for="profileImg">Profile Img</label>
      <input class="form-control" type="file" name="photo">
      <br>
      {{#if errorMessage}}
      <div class="error-message">{{ errorMessage }}</div>
      {{/if}}
  
      <button class="btn btn-dark">Edit account</button>
    </form>
</div>


