<h1>{{title}}</h1>
{{!-- <h2>Welcome to {{title}}</h2> --}}

<a class="btn btn-dark" href="cinema/new">Add New</a>
<h2 class="location-center">Cinema</h2>

<div class="container"></div>
  {{#each listOfCinemas}}
  <div class="col-md-3">
     <div id="frame" class="well text-center">
       <h2>{{this.siteName}}</h2>
       <a class="btn btn-dark" href="{{this.siteLink}}" target="_blank"><p>{{this.siteLink}}</p></a>
       <br><br>
         <form action="/cinema/edit/{{this._id}}" method="POST">
          <button class="btn-danger">Edit</button>
         </form>
         <br>
         <form action="/userCinema/delete/{{this._id}}" method="POST">
          <button class="btn-danger">Delete</button>
         </form>
    </div>
  </div>
  {{/each}}
</div>


