

<script> // need to find better locations for this function (main js file?)

// script to show the links that are added after adding a link, (dom Menipulation)
    function addLink(links) {
console.log("-=xxxxxxxxxxxxxxxxxxxxx");
        movieData = movie.split(",");
        console.log("-=-=-=-========================", movieData);

          axios.post('/movies/addImdb', { movieData })
          .then((movieData)=>{

            console.log("@#!#$!@#$!@#!#!~@#~!@#",movieData);
//need to add promise here! so I can redirect syncroneslly to favoriets page or must watch page or somthing else to fix it???
           console.log('added Success!');
           location.href='/movies/moviesAll';
           //window.location.replace("http://localhost:3000/movies/moviesAll");
          });
    }
    //////////////////////////////Adding a New Link to the dom/////////////


</script>
<!-- ================== End Scripts  ===================== -->
        {{!-- ============================= NEW For axios, using real time link addition view =================================== --}}
          {{!-- <div class="new-product">
            <h5>link.com</h5><!-- place for new element Link-->
          </div>

         <section class="create">
          <ul>
            <li><input class="input-pruduct-name" type="text" placeholder="Link Address" /></li>
            <li><button onclick="addLink('{{this.Title}},{{this.imdbID}},{{this.Poster}},{{this.Year}},m')" type="submit" id="btn-add">Must Watch</button><button class="btn btn-dark btn-create" id="new-item-create">Add</button></li>
          </ul>
         </section> --}}
        {{!-- ================================================================ --}}

<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="location-center">
        
        <form action="/movies/updateLinks/{{theMovie._id}}" method="POST" >
        <h5>Paste a link for this movie from cinema</h5>
          <label for="title">Link</label>
          <input class="form-control" type="text" name="aLink" placeholder="https://ymovies.tv/?s=star&genre=&years=">
          <br>
          <button type="submit" class="btn btn-dark">Submit</button>
        </form>

      </div>
    </div>

    <div class="col-12 col-md-4">
      <form id="form" action="/movies/update/{{theMovie._id}}" method="POST" enctype="multipart/form-data">
        <h2>Edit {{theMovie.title}} Movie</h2>

        <label for="Title">Title</label>
        <input class="form-control" type="text" name="theTitle" value="{{theMovie.title}}">

        <label for="Genre">Genre</label>
        <input class="form-control" type="text" name="theGenre" value="{{theMovie.genre}}">

        <label for="imdbRating">imdbRating</label>
        <input class="form-control" type="text" name="theImdbRating" value="{{theMovie.imdbRating}}">

        <label for="siteLink">Image</label>
        <input class="form-control" type="text" name="theImage" value="{{theMovie.image}}">

        <label for="poster">Poster</label>
        <input class="form-control" type="file" name="photo">
        <br><br>

          <label for="title">Link</label>
          <input class="form-control" type="text" name="theLinks" placeholder="https://ymovies.tv/?s=star&genre=&years=">
          <br>

        <button class="btn btn-dark">Edit Movie</button>
        <br> <br>
      </form>
    </div>

    <div class="col-12 col-md-4">
      <label for="links">Cinema links</label>
      <div class="location-center">

        <select class="form-control" name="openNewPage" onchange="window.open(this.value, '_blank');">
          <option value="">Select Cinema</option>
          {{#each links}}
          {{!-- {{theMovie.title}} used ../ to get ut of the #each!!!!! --}}
          <option value="{{this.siteLink}}?s={{../theMovie.title}}">{{this.siteLink}}</option>
          {{/each}}
        </select>
      </div>
    </div>



  </div>
</div>
