<h1>{{title}}</h1>
{{!-- <h2>Welcome to {{title}}</h2> --}}

<a class="btn btn-dark" href="addMovie">Add New</a>
<h2 class="location-center">Must Watch Movies</h2>

<div class="container"></div>
  {{#each listOfMovies}}
  <div class="col-md-3">
     <div id="frame" class="well text-center">
     {{#if this.imgPath}}
     <img id="movie" src="{{this.imgPath}}" alt="Movie Poster"> 
    {{else}}
    <img id="movie" src="{{this.image}}" alt="Movie Poster">
    {{/if}}
       <h5>{{this.title}} (year{{this.year}})</h5>
       <select class="form-control" name="openNewPage" onchange="window.open(this.value, '_blank', 'shilpijain' ,'modal=no');">
          <option value="">Select Link</option>
          {{#each this.links}}
          <option value="{{this}}">{{this}}</option>
          {{/each}}
       </select>
       <a class="details btn btn-dark" href="http://imdb.com/title/{{this.imdbID}}" target="_blank" >Movie Details</a>
       <a class="inline-block left" href="/movies/editMovie/{{this._id}}">
        <button class="btn-danger">Edit</button>
       </a>
       <div class="inline-block right">
        <form action="/movies/delete/{{this._id}}" method="POST">
        <button class="btn-danger" onclick="alert('Deleting Cinema')">Delete</button>
        </form>
       </div>
    </div>
  </div>
  {{/each}}
</div>
